* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root, .site-container {
  margin: 0;
  height: 100%;
}

/* restyle react-quill rich text editor */

.ql-toolbar {
  padding: 15px 5px !important;
  border-color: rgba(229, 231, 235, 1) !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ql-container {
  border-color: rgba(229, 231, 235, 1) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* tinymce */
.tox-tinymce {
  border-color: rgba(229, 231, 235, 1) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
