/* Fonts */

@font-face {
  font-family: 'Lato';
  src: url('./assets/Lato-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./assets/Lato-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('./assets/Lato-Thin.ttf')  format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('./assets/Lato-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('./assets/Lato-Italic.ttf')  format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; /* default font */
}

html, body, #root, .site-container {
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.np {
  padding: 0 !important;
}

.gap {
  gap: 10px !important;
}

.mt {
  margin-top: 10px;
}

.mb {
  margin-bottom: 10px;
}

.hoverable:hover {
  transition: all 0.3s ease;
  opacity: 0.7;
}

/* restyle react-quill rich text editor */

.ql-toolbar {
  padding: 15px 5px !important;
  border-color: rgba(229, 231, 235, 1) !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ql-container {
  border-color: rgba(229, 231, 235, 1) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* tinymce */
.tox-tinymce {
  border-color: rgba(229, 231, 235, 1) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* quick formatting */

.font-bold {
  font-family: 'Lato-Bold', sans-serif !important;
}

.font-thin {
  font-family: 'Lato-Thin', sans-serif !important;
}

.font-light {
  font-family: 'Lato-Light', sans-serif !important;
}

.font-italic {
  font-family: 'Lato-Italic', sans-serif !important;
}

/* datepicker */

@media (max-width: 476px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day,
  .react-datepicker__portal .react-datepicker__time-name {
    width: 1.7rem !important;
    line-height: 1.7rem !important;
  }
}
